@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Recipe-Share Where you can find all sorts of recipes for all kinds of different food from any 
</div>
